*.obj
*.ipch
*.exe
*.vsidx
*.vsidx
*.tlog
*.pdb
.vs/emptyExample/v17/.suo
*.db
*.bin
*.tlog
obj/x64/Debug/emptyExample.tlog/link.command.1.tlog
bin/emptyExample_debug.exe
bin/emptyExample_debug.pdb
.vs/emptyExample/v17/Solution.VC.db-wal
.vs/emptyExample/v17/Solution.VC.db-shm
.vs/emptyExample/v17/Browse.VC.opendb
.vs/emptyExample/v17/Browse.VC.db-shm
.vs/emptyExample/v17/Browse.VC.db
.vs/emptyExample/v17/.suo
bin/emptyExample_debug.exe
bin/emptyExample_debug.pdb
obj/x64/Debug/emptyExample.tlog/CL.write.1.tlog
bin/emptyExample_debug.exe
bin/emptyExample_debug.pdb
obj/x64/Debug/emptyExample_debug.ilk
.vs/emptyExample/v17/.suo
.vs/emptyExample/v17/Browse.VC.db
.vs/emptyExample/v17/Browse.VC.db-wal
*.tlog
*.tlog
*.tlog
*.pdb
bin/emptyExample_debug.exe
.vs/emptyExample/v17/.suo
obj/x64/Debug/vc143.pdb
obj/x64/Debug/emptyExample_debug.ilk
obj/x64/Debug/emptyExample.tlog/link.read.1.tlog
bin/emptyExample_debug.pdb
*.pdb
